<footer>
  <div class="bg-black w-full h-36 flex flex-col space-y-6 items-center justify-center">
    <div class="w-1/2 mx-auto flex justify-center items-center space-x-6">
        <a href="">
          <i class="fa-brands fa-twitter text-red fa-2x"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-instagram text-red fa-2x"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-youtube text-red fa-2x"></i>
        </a>
    </div>
    <div class="flex space-x-8 justify-center w-1/2 mx-auto ">
      <p class="text-red"><a href="">Términos y condiciones</a></p>
      <p class="text-red"><a href="">Contáctanos</a></p>
    </div>
  </div>
</footer>
