
<body class="w-10/12 md:w-full mx-auto min-h-screen">
  <div class=" bg-red w-3/4 md:w-1/2  rounded-lg fixed top-30 left-1/2 z-10 text-center opacity-80 text-black-100/100"
  style="transform: translateX(-50%)"
  *ngIf ="showResponse"
  [ngClass]="isValidForm? 'bg-green': 'bg-red-2'"
  >
    <p class="mx-auto py-2 font-bold text-lg ">
      {{errorMessage}}
    </p>
  </div>
  <div class="w-full sm:w-3/4 md:w-1/2 lg:w-1/3 space-y-6 mt-20 bg-black-2
  px-6 py-8 border-1 bg-white shadow rounded-lg m-auto mb-12">
    <h2 class="text-3xl text-center">Registrarse</h2>
    <form class="mx-auto space-y-6 " [formGroup]="registerForm" (ngSubmit)="register()">
      <div>
        <label for="userName">Nombre de usuario: </label>
        <div class="mt-1">
          <input type="text" [formControl]="userName"
          class="border rounded w-full focus:outline-none focus:border-2" >
        </div>
        <div
          *ngIf="userName.errors && isValidForm != null && !isValidForm"
          [ngClass]="'text-red'"
        >
          <div *ngIf="userName.errors.required">El nombre es obligatorio</div>
          <div *ngIf="userName.errors.maxlength">
            El nombre debe tener un máximo de 40 caracteres
          </div>
        </div>
      </div>
      <div>
        <label for="email">Email: </label>
        <div class="mt-1">
          <input type="email" [formControl]="email"
          class="border rounded w-full focus:outline-none focus:border-2">
        </div>
        <div
          *ngIf="email.errors && isValidForm != null && !isValidForm"
          [ngClass]="'text-red'"
        >
          <div *ngIf="email.errors.required">El email es obligatorio</div>
          <div *ngIf="email.errors.pattern">No es un email válido</div>
        </div>
      </div>

      <div>
        <label for="password">Contraseña: </label>
        <div class="mt-1">
          <input type="password" [formControl]="password"
          class="border rounded w-full focus:outline-none focus:border-2">
        </div>
        <div
          *ngIf="password.errors && isValidForm != null && !isValidForm"
          [ngClass]="'text-red'"
        >
          <div *ngIf="password.errors.required">La contraseña es obligatoria</div>
          <div *ngIf="password.errors.minlength">
            La contraseña debe tener un mínimo de 8 caracteres.
          </div>
        </div>
      </div>

      <div>
        <label for="confirmPassword">Repetir contraseña: </label>
        <div class="mt-1">
          <input type="password" [formControl]="confirmPassword"
          class="border rounded w-full focus:outline-none focus:border-2">
        </div>
        <div
          *ngIf="(confirmPassword.errors || registerForm.errors) && isValidForm != null && !isValidForm"
          [ngClass]="'text-red'"
        >
          <div *ngIf="confirmPassword.errors?.required">Es obligatorio repetir la contraseña</div>
          <div *ngIf="!registerForm.errors?.passwordMatching">
            Las contraseñas no coinciden.
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit"
        class="py-2 mx-auto px-5 text-red-2 font-bold rounded-lg bg-black border border-black hover:bg-black-2 hover:text-white ">
          Registrarse
        </button>
      </div>
    </form>
  </div>

</body>
