<body class="bg-gray min-h-screen font-sans">
  <section class="bg-black-2 w-100 h-10/12">
    <div class="w-11/12 md:w-2/3 m-auto">
      <h1 class="text-5xl pt-20 text-center">Japonés para estudiantes autodidáctas</h1>

      <ul class="text-xl md:w-3/4 lg:w-2/3 pt-10 pb-14 m-auto divide-y divide-black text-center">
        <li class="px-4 py-4">Aprende toda la gramática esencial del japonés</li>
        <li class="px-4 py-4">Practica la lectura del Hiragana y Katakana con nuestro test</li>
        <li class="px-4 py-4">Prepara tus propias tarjetas para aprender vocabulario con nuesto sistema de Repetición Espaciada</li>
      </ul>
    </div>
  </section>
  <section class="bg-gray w-100 min-h-screen">
    <h1 class="text-5xl pt-10 text-center">Gramática</h1>
    <div class="w-11/12 md:w-3/4 pt-8 m-auto text-center">
      <p class="text-xl">Contamos con una gran cantidad de lecciones de gramática que cubren
        toda la gramática esencial del japonés, que combinado con un buen estudio del vocabulario
      te permitira descifrar gran cantidad de textos japoneses.</p>
    </div>
    <ul class="md:w-2/3 pt-4 m-auto divide-y divide-black text-center text-xl">
      <li class="py-4">Aprenderás que tipos de nombres hay en japonés, sobre los sufijos
        o sobre los temidos contadores</li>
      <li class="py-4">Aprenderás la diferencia entre los distintos adjetivos y la creación de adverbios</li>
      <li class="py-4">Aprenderás a conjugar cualquier verbo en japonés con la lectura de un solo artículo
        y las distintas funciones de los tiempos verbales</li>
      <li class="py-4">Aprenderás las distintas funciones de las partículas y como estas nos dicen
        todo lo que necesitamos saber.
      </li>
      <li class="py-4">Y aprenderás mucho más. ¿Como expresan deseo los japoneses?
        ¿Importa el orden en las frases japonesas?
      </li>
    </ul>
  </section>
  <section class="bg-black-2 min-h-screen w-100">
    <h1 class="text-5xl pt-10 text-center">Kana</h1>
    <div class="w-11/12 md:w-3/4 pt-8 m-auto text-center">
      <p class="text-xl pb-8">
        Los dos silabarios japoneses conocidos como Kana son el Hiragana y Katakana. Son el primer
        paso de todo estudiante de japonés, en especial el Hiragana. A diferencia de los Kanji, estos
        son silabarios fonéticos que pueden aprenderse en muy poco tiempo.
      </p>
      <p class="text-xl pb-8">
        El Hiragana es el silabario esencial para empreder el estudio del idioma, se utiliza para escribir palabras
        japonesas, las terminaciones de verbos y adjetivos, así como para escribir las partículas. Mientras
        que el Katakana tiene un uso más restringido, su principal uso es para escribir palabras extranjeras.
        ¿Imaginas a un japonés estudiando castellano utilizando el Katakana?
      </p>
      <p class="text-xl">
        Con Tsukimi podrás practicar los Kana de una forma entretenida, a través de un test podrás
        seleccionar solo aquellos Kana que desees practicar, ya sea por filas, el tipo o simplemente kana individuales
        con los que estés teniendo más problemas.
    </div>
  </section>

  <section class="bg-gray min-h-screen w-100">
    <h1 class="text-5xl pt-10 text-center">Tarjetas</h1>
    <div class="w-11/12 md:w-3/4 pt-8 m-auto text-center">
      <p class="text-xl">
        El mejor método para aprender kanjis o vocabulario es mediante un sistema de Repetición Espaciada.
      Con nuestra web podrás crear tus propias tarjetas de vocabulario o kanjis y hacer los repasos
      cuando estén disponibles.
      </p>
      <ul class="md:w-1/3 pt-4 m-auto divide-y divide-black text-center text-xl">
        <li class="py-4"><i class="fa-solid fa-user"></i> Regístrate o inicia sesión</li>
        <li class="py-4"><i class="fa-solid fa-pen-to-square"></i> Crea tus tarjetas</li>
        <li class="py-4"><i class="fa-solid fa-school"></i> Haz tus repasos</li>
        <li class="py-4"><i class="fa-solid fa-repeat"></i> Repite el proceso</li>
      </ul>
    </div>

  </section>
</body>
